.container {
  margin-top: 10vh;
}

.addForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px; // Скругленные углы
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Тень
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); // Увеличенная тень при наведении
  }
}

.addInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px; // Скругленные углы
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #007bff; // Цвет рамки при фокусе
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); // Тень при фокусе
    outline: none;
  }
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px; // Скругленные углы
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3; // Темнее при наведении
  }

  &:active {
    background-color: #004080; // Еще темнее при нажатии
  }
}

.myh1 {
  text-align: center;
  font-weight: 800;
  color: #333;
  margin-bottom: 20px;
}
